In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### What are tibbles?
* Tibbles are dataframes on steroid
* Fundamental data structure of `tidyverse`
    * From now on, we will work with tibbles as much as possible
* Easiest way to construct a tibble is corercing (coverting) a data.frame into a tibble
* Can create new tibbles using `tibble()`
* Use `tribble()` to document a table

In [15]:
my_df = data.frame(city = c("Honolulu", "LAX", "San Francisco"), state=c("HI", "CA", "CA"))
print(my_df)

           city state
1      Honolulu    HI
2           LAX    CA
3 San Francisco    CA

In [16]:
my_tibble = as_tibble(my_df)
str(my_tibble)

tibble [3 × 2] (S3: tbl_df/tbl/data.frame)
 $ city : chr [1:3] "Honolulu" "LAX" "San Francisco"
 $ state: chr [1:3] "HI" "CA" "CA"

In [4]:
# https://www.sciencebase.gov/catalog/item/58f7a16ee4b0b7ea5451f474
data_df = read.csv(file = '/Users/mahdi/Documents/GitHub/mbio612f22/morea/4_tidyvere_and_data/resources/data/Kahekili_coral.csv')
head(data_df, 2)

  Latitude Longitude Date.of.Collection Sample.ID     Core.Length Water.depth
1 20.9386  -156.6933 7/10/13            LobataHead01  50          2
2 20.9387  -156.6934 7/10/13            LobataHead02  18          2
  Lifespan Tissue.thickness Growth.rate Density Bioerosion.volume
1 43       5.1              1.17        1.04    6.6
2 21       5.6              0.88        1.08    5.9
  Calcification.rate Bioerosion.rate delta.N.15 delta.N.15..error.
1 1.10               72.32           11.29      1.76
2 0.94               56.03            8.44      0.12

In [5]:
str(data_df)

'data.frame':	7 obs. of  15 variables:
 $ Latitude          : num  20.9 20.9 20.9 20.9 20.9 ...
 $ Longitude         : num  -157 -157 -157 -157 -157 ...
 $ Date.of.Collection: chr  "7/10/13" "7/10/13" "7/10/13" "7/10/13" ...
 $ Sample.ID         : chr  "LobataHead01 " "LobataHead02 " "LobataHead03 " "LobataHead04 " ...
 $ Core.Length       : int  50 18 19 21 28 22 50
 $ Water.depth       : int  2 2 2 2 2 1 3
 $ Lifespan          : int  43 21 26 30 29 NA NA
 $ Tissue.thickness  : num  5.1 5.6 4.6 4 4.6 NA 5.1
 $ Growth.rate       : num  1.17 0.88 0.72 0.72 0.95 0.69 NA
 $ Density           : num  1.04 1.08 0.99 1.01 1.15 1.07 NA
 $ Bioerosion.volume : num  6.6 5.9 12.5 5.9 2.2 14.6 NA
 $ Calcification.rate: num  1.1 0.94 0.71 0.67 1.02 0.68 NA
 $ Bioerosion.rate   : num  72.3 56 89.1 39.9 22.6 ...
 $ delta.N.15        : num  11.29 8.44 10.87 14.62 7.5 ...
 $ delta.N.15..error.: num  1.76 0.12 0.45 0.23 0.19 0.4 0.19

In [7]:
library(tibble)

In [8]:
data_tbl = as_tibble(data_df)
head(data_tbl)

  Latitude Longitude Date.of.Collection Sample.ID     Core.Length Water.depth
1 20.9386  -156.6933 7/10/13            LobataHead01  50          2
2 20.9387  -156.6934 7/10/13            LobataHead02  18          2
3 20.9387  -156.6932 7/10/13            LobataHead03  19          2
4 20.9388  -156.6931 7/10/13            LobataHead04  21          2
5 20.9451  -156.6932 7/10/13            LobataHead05  28          2
6 20.9386  -156.6932 7/10/13            LobataHead06  22          1
  Lifespan Tissue.thickness Growth.rate Density Bioerosion.volume
1 43       5.1              1.17        1.04     6.6
2 21       5.6              0.88        1.08     5.9
3 26       4.6              0.72        0.99    12.5
4 30       4.0              0.72        1.01     5.9
5 29       4.6              0.95        1.15     2.2
6 NA        NA              0.69        1.07    14.6
  Calcification.rate Bioerosion.rate delta.N.15 delta.N.15..error.
1 1.10               72.32           11.29      1.76
2 0.94               56.03            8.44      0.12
3 0.71               89.07           10.87      0.45
4 0.67               39.87           14.62      0.23
5 1.02               22.58            7.50      0.19
6 0.68               99.15           17.08      0.40

In [9]:
str(data_tbl)

tibble [7 × 15] (S3: tbl_df/tbl/data.frame)
 $ Latitude          : num [1:7] 20.9 20.9 20.9 20.9 20.9 ...
 $ Longitude         : num [1:7] -157 -157 -157 -157 -157 ...
 $ Date.of.Collection: chr [1:7] "7/10/13" "7/10/13" "7/10/13" "7/10/13" ...
 $ Sample.ID         : chr [1:7] "LobataHead01 " "LobataHead02 " "LobataHead03 " "LobataHead04 " ...
 $ Core.Length       : int [1:7] 50 18 19 21 28 22 50
 $ Water.depth       : int [1:7] 2 2 2 2 2 1 3
 $ Lifespan          : int [1:7] 43 21 26 30 29 NA NA
 $ Tissue.thickness  : num [1:7] 5.1 5.6 4.6 4 4.6 NA 5.1
 $ Growth.rate       : num [1:7] 1.17 0.88 0.72 0.72 0.95 0.69 NA
 $ Density           : num [1:7] 1.04 1.08 0.99 1.01 1.15 1.07 NA
 $ Bioerosion.volume : num [1:7] 6.6 5.9 12.5 5.9 2.2 14.6 NA
 $ Calcification.rate: num [1:7] 1.1 0.94 0.71 0.67 1.02 0.68 NA
 $ Bioerosion.rate   : num [1:7] 72.3 56 89.1 39.9 22.6 ...
 $ delta.N.15        : num [1:7] 11.29 8.44 10.87 14.62 7.5 ...
 $ delta.N.15..error.: num [1:7] 1.76 0.12 0.45 0.23 0.19 0.4 0.19

In [22]:
print(tibble(x=1:10, y=x^2))

# A tibble: 10 x 2
       x     y
   <int> <dbl>
 1     1     1
 2     2     4
 3     3     9
 4     4    16
 5     5    25
 6     6    36
 7     7    49
 8     8    64
 9     9    81
10    10   100

In [23]:
x = tribble(   ~x, ~y, ~z,
           "a", 2, 3.6,
           "b", 1, 8.5)
print(x)

# A tibble: 2 x 3
  x         y     z
  <chr> <dbl> <dbl>
1 a         2   3.6
2 b         1   8.5

### Tibble vs. Data.Frame

* You noticed that print of tibble is cleaners
  * Show only columns that fit inscreen

In [30]:
print(head(data_df))

  Latitude Longitude Date.of.Collection     Sample.ID Core.Length Water.depth
1  20.9386 -156.6933            7/10/13 LobataHead01           50           2
2  20.9387 -156.6934            7/10/13 LobataHead02           18           2
3  20.9387 -156.6932            7/10/13 LobataHead03           19           2
4  20.9388 -156.6931            7/10/13 LobataHead04           21           2
5  20.9451 -156.6932            7/10/13 LobataHead05           28           2
6  20.9386 -156.6932            7/10/13 LobataHead06           22           1
  Lifespan Tissue.thickness Growth.rate Density Bioerosion.volume
1       43              5.1        1.17    1.04               6.6
2       21              5.6        0.88    1.08               5.9
3       26              4.6        0.72    0.99              12.5
4       30              4.0        0.72    1.01               5.9
5       29              4.6        0.95    1.15               2.2
6       NA               NA        0.69    1.07              14.6
  Calcification.rate Bioerosion.rate delta.N.15 delta.N.15..error.
1               1.10           72.32      11.29               1.76
2               0.94           56.03       8.44               0.12
3               0.71           89.07      10.87               0.45
4               0.67           39.87      14.62               0.23
5               1.02           22.58       7.50               0.19
6               0.68           99.15      17.08               0.40

In [10]:
View(data_tbl)

  Latitude Longitude Date.of.Collection Sample.ID     Core.Length Water.depth
1 20.9386  -156.6933 7/10/13            LobataHead01  50          2
2 20.9387  -156.6934 7/10/13            LobataHead02  18          2
3 20.9387  -156.6932 7/10/13            LobataHead03  19          2
4 20.9388  -156.6931 7/10/13            LobataHead04  21          2
5 20.9451  -156.6932 7/10/13            LobataHead05  28          2
6 20.9386  -156.6932 7/10/13            LobataHead06  22          1
7 20.9373  -156.6935 7/11/13            LobataHead07  50          3
  Lifespan Tissue.thickness Growth.rate Density Bioerosion.volume
1 43       5.1              1.17        1.04     6.6
2 21       5.6              0.88        1.08     5.9
3 26       4.6              0.72        0.99    12.5
4 30       4.0              0.72        1.01     5.9
5 29       4.6              0.95        1.15     2.2
6 NA        NA              0.69        1.07    14.6
7 NA       5.1                NA          NA      NA
  Calcification.rate Bioerosion.rate delta.N.15 delta.N.15..error.
1 1.10               72.32           11.29      1.76
2 0.94               56.03            8.44      0.12
3 0.71               89.07           10.87      0.45
4 0.67               39.87           14.62      0.23
5 1.02               22.58            7.50      0.19
6 0.68               99.15           17.08      0.40
7   NA                  NA            8.17      0.19

In [59]:
sd(data_tbl$"Bioerosion.rate",  na.rm = TRUE)

[1] 29.29338

In [13]:
vignette("tibble")

starting httpd help server ...
 done

In [17]:
data <- tibble(x=1:10, y=x^2)

In [18]:
data

   x  y
1   1   1
2   2   4
3   3   9
4   4  16
5   5  25
6   6  36
7   7  49
8   8  64
9   9  81
10 10 100

In [20]:
test_tbl <- tibble(x=1:10, y=x^2)
test_tbl

   x  y
1   1   1
2   2   4
3   3   9
4   4  16
5   5  25
6   6  36
7   7  49
8   8  64
9   9  81
10 10 100

In [22]:
str(test_tbl)

tibble [10 × 2] (S3: tbl_df/tbl/data.frame)
 $ x: int [1:10] 1 2 3 4 5 6 7 8 9 10
 $ y: num [1:10] 1 4 9 16 25 36 49 64 81 100

In [ ]:
some_list = list(matrix(1:4, nrow=2), matrix(6:17, nrow=4), matrix(3:11, ncol=3, byrow=TRUE))
print(some_list)